
:root {
  // default theme color
  // can be overrided by uses `themeConfig` option
  --slidev-theme-primary: #5d8392;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }
}

.slidev-layout.cover {
  .w-full {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;
  }
  h1 {
    color: black;
  }
  background: url("/一半背景图.png");
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      box-sizing: border-box;
      width: 50%;
      margin-left: 0px;
    }
  }
}

.slidev-layout.menu {
  h1 {
    color: red;
  }
  h2 {
    margin-left: 10%;
    font-size: 2rem;
    margin-top: 4vh;
    background: url("/目录背景.png");
    background-position: 3vw 0px;
    background-repeat: no-repeat;

    &:before {
      margin-right: 4vw;
      color: white;
      background: url("/数字背景.png");
      padding: 0.4vh 1.4vh;
    }
    &:nth-child(2):before {
      content: "1";
    }
    &:nth-child(3):before {
      content: "2";
    }
    &:nth-child(4):before {
      content: "3"
    }
    &:nth-child(5):before {
      content: "4"
    }
  }
}

.slidev-layout.default {
    thead {
        tr {
            background: green;
        }
    }
    tbody {
        tr:nth-child(odd) {
            background: pink;
        }
        tr:nth-child(even) {
            background: red;
        }
    }
}
