<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="../source/vue-2.1.3.js"></script>
    <meta http-equiv="refresh" content="30">
  </head>
  <body>
    <div id="example">
      <div style="height: 0px; width:100px; margin-bottom:100px" v-bind:style="{backgroundImage:'url(' + avatar + ')'}">
      </div>
      <br>
      basic:{{a}}<br>
      number: {{number+1}}<br>
      number: 变化<input type="number" v-model="number">
      变化以后 {{cnumber}}
      国家: <input type="text" v-model="address.country">
      变化以后: {{ccountry}}
      城市: <input type="text" v-model="address.city">
      变化以后: {{ccity}}
      <button v-on:click="number=34">点我</button>
      ok?: {{ok ? 'YES': 'NO' }}<br>
      pipe: {{ pipe | capitalize }}<br>
      greetings: <span v-if="greeting">Hello!</span>
      bind: <a v-bind:href="url">点我</a><br>
      个人资料:name(computed): {{name}}<br>
      性别: 
      <span v-if="show_sex"> {{sex}}</span>
      <span v-else>保密</span>
      <br>
      <template v-if="show_tel">
        电话: {{tel}}
      </template>
      朋友们:
      <ul>
        <li v-for="item in friends">
          姓名: <span v-text="item.name"></span>{{item.name}}
        </li>
      </ul>
      <h2>测试输入框的focus如何变化</h2>
      {{focus}}
      <input type="text" id='focus' placeholder='输入' v-on:focus='focus=true'
             v-on:blur='focus=false'/>
    </div>
    <script>
      var data = {
        avatar: 'http://www.ramwin.com/media/portrait.png',
        a: 1 ,ok:1, number: 1,
        pipe: 'a',
        greeting: true,
        url: "http://www.ramwin.com",
        first_name: "walter",
        last_name: "white",
        sex: "男", show_sex: true,
        tel: "123456789", show_tel: true,
        address: {
          country: "中国",
          city: "上海",
        },
        friends: [
          {name: "lily"}, {name: "lucy"},
        ],
        focus: false,
      }
      var vm = new Vue({
        el: '#example',
        data: data,
        created: function (){
          console.log('a is:' + this.a)
        },
        computed: {
          name: function() {
            return this.first_name + " " + this.last_name;
          },
          fullName: {
            get: function () {
              return this.first_name + " " + this.last_name;
            },
            set: function (newValue) {
              var names = newValue.split(" ");
              this.first_name = names[0];
              this.last_name = names[names.length-1]
            },
          },
          cnumber: function() {
            return this.number + 2
          },
          ccountry: function() {
            return "国家" + this.address.country
          },
          ccity: function() {
            this.address.country += "we"
            return "城市"  + this.address.city;
          },
        },
        filters: {
            capitalize: function(value) {
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
      });
      var MyComponent = Vue.extend({
      });
      var myComponentInstance = new MyComponent()
    </script>
  </body>
</html>
