<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="../source/vue.js"></script>
    <meta http-equiv="refresh" content="30">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>最基础的组件</h1>
      <div id="basic">
        <my-component></my-component>
      </div>
      <script>
        var MyComponent = Vue.extend({
          template: '<div>自定义组件</div>',
        })
        Vue.component('my-component', MyComponent)
        var basic = new Vue({
          el: '#basic',
          data: {},
        })
      </script>
    <h1>局部注册的组件</h1>
      <div id="local">
        <my-component2></my-component2>
      </div>
      <script>
        var MyComponent2 = Vue.extend({
          template: '<div>自定义的局部组件</div>',
        })
        Vue.component('my-component2', MyComponent2)
        var local = new Vue({
          el: '#local',
          data: {},
        })
      </script>
    <h1>传递参数的组件</h1>
      <div id="param">
        <my-component3 foo='data' v-bind:foo1="name" v-bind:foo2.sync='foo2'></my-component3>
        原来的名字: {{ name}}
        单向绑定的名字:<input type="text" v-model="name">
        双向绑定的名字:<input type="text" v-model="foo2">
      </div>
      <script>
        var MyComponent3 = Vue.extend({
          props: ['foo', 'foo1', 'foo2'],
          template: `
            <div>
              静态数据foo的值是{{foo}}<br>动态数据foo1的数值是{{foo1}}<br>
              动态地变更组件元素<input v-model="foo1"><br>
              动态地变更组件和父组件元素<input v-model="foo2"><br>
            </div>
            `
        })
        Vue.component('my-component3', MyComponent3)
        var param = new Vue({
          el: '#param',
          data: {'foo': 'bar', 'name':"ramwin", 'foo2':'foo2'},
        })
      </script>
    <div id="example">
      朋友们,一共{{friends.length}}个好朋友:
      <ul>
      使用组件生成我的好友
      <my-friends a="ok" v-bind:aafriends='friends'></my-friends>
      <li v-for="item in friends">
        姓名: <span v-text="item.name"></span>{{item.name}}
        <my-friend v-bind:item='item'></my-friend>
      </li>
      </ul>
    </div>
    <script>
      var data = {
        friends: [
          {name: "lily"}, {name: "lucy"},
        ],
      }

      var FriendListComponent = Vue.extend({  // 朋友组件
        props: ['a', 'aafriends'],  // 传递过来的参数
        template: '\
            <div>直接传递的参数: a={{a}}<br>\
            我的好朋友们(使用v-bind传递的参数):\
              <ul v-for="friend in aafriends">\
                <li>{{friend.name}}</li>\
                <input type="button" value="删除好友" onclick="delete(this)">\
              </ul></div>',
      })
      var FriendComponent = Vue.extend({  // 单个朋友的组件
        props: ['item'],
        template: `
          <div>
            <div>我的一个好朋友组件: {{item.name}}</div>
            <button v-on:click="_delete()">删除</button>
          </div>
        `,
        methods: {
          _delete: function() {
            debugger;
          }
        }
      })
      Vue.component("my-friends", FriendListComponent) // 注册组件
      Vue.component("my-friend", FriendComponent) // 注册组件

      var vm = new Vue({
        el: '#example',
        data: data,
      })
    </script>
    <h1>自定义组件事件</h1>
    <div id="blog-posts-events-demo">
      <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post
          v-for="post in posts"
          :key="post.id"
          :post="post"
          @enlarge-text="enlargeText"
        ></blog-post>
      </div>
    </div>
    <script>
    Vue.component('blog-post', {
      props: ['post'],
      template: `
        <div class="blog-post">
          <h3>{{ post.title }}</h3>
          <button @click="enlarge()">
            Enlarge text
          </button>
          <div v-html="post.content"></div>
        </div>
      `,
      methods: {
        "enlarge": function() {
          this.$emit("enlarge-text", {"size": 1});
        }
      },
    })
    new Vue({
      el: '#blog-posts-events-demo',
      data: {
        posts: [
          {"title": "大事不好啦", "id": 1},
          {"title": "老板要涨工资", "id": 2},
        ],
        postFontSize: 1
      },
      methods: {
        "enlargeText": function(detail) {
          console.info("事件来啦", detail)
        }
      },
    })
    </script>
    <h1 id="测试refs">测试watch组件的refs</h1>
    <div id="testwatch">
      <p>我是父组件{{name}} {{total_money}} {{double_money}}</p>
      <child
        v-for="child in children"
        :ref="'child-'+child.id"
        :child="child"
      > </child>
      <button @click="cal_total">计算total</button>
      <button @click="children.push({name: '私生子', id:3, money: 0})">生儿子</button>
    </div>
    <script>
      Vue.component('child', {
        props: ['child'],
        template: `
          <div>
            <div>我是儿子 {{child.name}} {{child.money}} {{double_money}}</div>
            <button @click="child.money += 1">我有利息</button>
          </div>
        `,
        computed: {
          double_money: function() {
            return this.child.money ** 2
          }
        },
        mounted: function() {
          console.info("儿子渲染啦")
        }
      })
      new Vue({
        el: "#testwatch",
        data: {
          name: "我是爸爸",
          children: [
            {id: 1, name: "我是没钱的大儿子", money: 100},
            {id: 2, name: "我是有钱的小儿子", money: 10000},
          ],
          isMounted: false,
        },
        computed: {
          total_money: function() {
            var total = 0
            return _.sumBy(this.children, res=> {return res.money})
          },
          double_money: function() {
            // var double_money = 0
            // return _.sumBy(this.children, res=> {return res.money})
            console.info("计算double_money")
            if (!this.isMounted) {
              return
            }
            return _.sumBy(
              this.children,
              res => {
                var ref = this.$refs[`child-${res.id}`]
                if (ref) {
                  return ref[0].double_money
                }
              }
            )
          }
        },
        methods: {
          cal_total: function() {
            console.info(this.get_double_money())
          },
          get_double_money: function() {
            return this.$refs['child-1'][0].double_money
          }
        },
        mounted() {
          this.isMounted = true
          console.info("mounted")
        }
      })
    </script>
    <h1 id="插槽">测试插槽</h1>
    <div id="testslot">
      {{name}}
      <slotchild v-for="child in children" v-bind:child="child">
        <template v-slot:footer>
          不要鞋跟
        </template>
      </slotchild>
      <slotchild v-for="child in children" v-bind:child="child">
        <slot v-bind:child="child">
          儿子{{child.name}}呀  ---- {{name}}
        </slot>
      </slotchild>
    </div>
    <script>
      Vue.component('slotchild', {
        props: ['child'],
        template: `
          <div>
            <div>我是儿子 {{child.name}} {{child.money}} {{double_money}}</div>
            <button @click="child.money += 1">我有利息</button>
            <slot name="money">我有{{child.money}}钱</slot>
            <slot>让我爸爸说两句</slot>
            <slot name="footer">我是鞋跟</slot>
          </div>
        `,
        computed: {
          double_money: function() {
            return this.child.money ** 2
          }
        },
        mounted: function() {
          console.info("儿子渲染啦")
        }
      })
      new Vue({
        el: "#testslot",
        data: {
          name: "测试插槽的父组件",
          children: [
            {id: 1, name: "我是没钱的大儿子", money: 100},
            {id: 2, name: "我是有钱的小儿子", money: 10000},
          ],
        },
      })
    </script>

    
  </body>
</html>
