<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="../source/vue.js"></script>
    <meta http-equiv="refresh" content="30">
  </head>
  <body>
    <h1>最基础的组件</h1>
      <div id="basic">
        <my-component></my-component>
      </div>
      <script>
        var MyComponent = Vue.extend({
          template: '<div>自定义组件</div>',
        })
        Vue.component('my-component', MyComponent)
        var basic = new Vue({
          el: '#basic',
          data: {},
        })
      </script>
    <h1>局部注册的组件</h1>
      <div id="local">
        <my-component2></my-component2>
      </div>
      <script>
        var MyComponent2 = Vue.extend({
          template: '<div>自定义的局部组件</div>',
        })
        Vue.component('my-component2', MyComponent2)
        var local = new Vue({
          el: '#local',
          data: {},
        })
      </script>
    <h1>传递参数的组件</h1>
      <div id="param">
        <my-component3 foo='data' v-bind:foo1="name" v-bind:foo2.sync='foo2'></my-component3>
        原来的名字: {{* name}}
        单向绑定的名字:<input type="text" v-model="name">
        双向绑定的名字:<input type="text" v-model="foo2">
      </div>
      <script>
        var MyComponent3 = Vue.extend({
          props: ['foo', 'foo1', 'foo2'],
          template: '<div>静态数据foo的值是{{foo}}<br>动态数据foo1的数值是{{foo1}}<br>\
            动态地变更组件元素<input v-model="foo1"><br>\
            动态地变更组件和父组件元素<input v-model="foo2"><br>\
            </div>\
            '
        })
        Vue.component('my-component3', MyComponent3)
        var param = new Vue({
          el: '#param',
          data: {'foo': 'bar', 'name':"ramwin", 'foo2':'foo2'},
        })
      </script>
    <div id="example">
      朋友们,一共{{friends.length}}个好朋友:
      <ul>
      使用组件生成我的好友
      <my-friends a="ok" v-bind:aafriends='friends'></my-friends>
      <li v-for="item in friends">
        姓名: <span v-text="item.name"></span>{{item.name}}
        <my-friend v-bind:item='item'></my-friend>
      </li>
      </ul>
    </div>
    <script>
      var data = {
        friends: [
          {name: "lily"}, {name: "lucy"},
        ],
      }

      var FriendListComponent = Vue.extend({  // 朋友组件
        props: ['a', 'aafriends'],  // 传递过来的参数
        template: '\
            <div>直接传递的参数: a={{a}}<br>\
            我的好朋友们(使用v-bind传递的参数):\
              <ul v-for="friend in aafriends">\
                <li>{{friend.name}}</li>\
                <input type="button" value="删除好友" onclick="delete(this)">\
              </ul></div>',
      })
      var FriendComponent = Vue.extend({  // 单个朋友的组件
        props: ['item'],
        template: '<div>我的一个好朋友组件: {{item.name}}</div>',
      })
      Vue.component("my-friends", FriendListComponent) // 注册组件
      Vue.component("my-friend", FriendComponent) // 注册组件

      var vm = new Vue({
        el: '#example',
        data: data,
      })
    </script>
    
  </body>
</html>
