<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>测试element</h1>
      <el-button>element的button</el-button>
      <el-slider v-model="slidervalue1" key="slidervalue1" @change="change('e', slidervalue1)" show-input></el-slider>
      <el-slider v-model="slidervalue2" key="slidervalue2" @change="change('a')" show-input></el-slider>
      <el-slider v-model="slidervalue3" key="slidervalue3" @change="change('c')" show-input></el-slider>
      <h2>elinput</h2>
      {{typeof(elinput)}} {{elinput}}
      <el-input v-model="elinput" type="number"></el-input>
      {{typeof(elinputnumber)}} {{elinputnumber}}
      <el-input-number v-model="elinputnumber"></el-input-number>
      <h2>布局</h2>
      <el-row type="flex" align="middle" justify="end">
        <el-col :span="10">
          <el-slider v-model="slidervalue3" key="slidervalue3" @change="change('c')" show-input></el-slider>
        </el-col>
        <el-col :span="4">
          <div style="border: 1px solid red">
          <el-input  size="small" />
          </div>
        </el-col>
        <el-col :span="6">
          <el-input-number />
        </el-col>
      </el-row>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data: {
        "slidervalue1": 10,
        "slidervalue2": 20,
        "slidervalue3": 70,
        "elinput": 10,
        "elinputnumber": 1,
      },
      methods: {
        change: function(e, a, b) {
          console.info(event)
          this.slidervalue2 = 3
          this.slidervalue3 = 3
        }
      }
    })
  </script>
</html>
